<!-- <center><h1>Welcome to our site that is DEFINITELY NOT a blog!</h1></center> -->
<p id="notice"><%= notice %></p>

<!-- <h3>NotBlog Posts</h3> -->

<% @sorted_posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading"><h4><strong><%= post.title %> </strong></h4></div>
      <div class="panel-body">
        <img src="<%=post.image_url %>" alt="" />
        <% if post.post_image.file? %>
          <%=image_tag post.post_image.url(:medium) %>
        <% end %>

        <h4><%= post.content %> </h4>
      </div>
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">Posted by <%= post.user.username %> on <%= post.created_at.strftime("%B %d, %Y at %I:%M %p %Z") %> </li>
      <li class="list-group-item">
      <div>

        <!-- Upvote Button -->
        <strong> Votes <%= post.vote_sum%> </strong>
        <% if signed_in? %>
          <%= form_for(@vote) do |f| %>
            <%= f.button class: "btn btn-primary btn-sm" do %>
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>  Upvote
            <% end %>
            <%= f.hidden_field :value, :value => 1 %>
            <%= f.hidden_field :post_id, :value => post.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          <% end %>
          <!-- Downvote Button -->
          <%= form_for(@vote) do |f| %>
            <%= f.button class: "btn btn-primary btn-sm" do %>
              <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Downvote
            <% end %>
            <%= f.hidden_field :value, :value => -1 %>
            <%= f.hidden_field :post_id, :value => post.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          <% end %>
        <% end %>
        </div>
      </li>
    </ul>
  </div>
<% end %>
